@{
    ViewBag.Title = "Index";
}

<script>
    function validateAdvancedSearchForm() {
        if ($("#authorNameSearchPost").val() != "" &&
            $("#titleSearchPost").val() != "" &&
            $("#fromDateSearchPost").val() != "" &&
            $("#toDateSearchPost").val() != "") {
            return true;
        }
        else {
            alert("You must enter all the search parameters");
            return false;
        }
    }

    function advancedSearchPost() {
        if (validateAdvancedSearchForm())
            $.post("/Blog/AdvancedSearchPost",
                {
                    titleSearchPost: $("#titleSearchPost").val(),
                    authorNameSearchPost: $("#authorNameSearchPost").val(),
                    fromDateSearchPost: $("#fromDateSearchPost").val(),
                    toDateSearchPost: $("#toDateSearchPost").val()
                }).success(function (view) {
                    $("#postsList").html(view);
                });
    }

    function clearSearch() {
        $("#titleSearchPost").val("");
        $("#authorNameSearchPost").val("");
        $("#fromDateSearchPost").val("");
        $("#toDateSearchPost").val("");
        $.post("/Blog/GetAllPosts").success(function (view) {
            $("#postsList").html(view);
        });
    }
</script>

<div style="border:1px solid darkgray; border-radius:10px;padding:10px">
    <h3>Advanced Posts Search</h3>
    <div style="padding:0px;margin:0px;display:inline-block">
        <label>Title contains: </label><input class="form-control" type="text" style="width:200px" id="titleSearchPost" name="titleSearchPost" /><label>-AND-</label><br />
        <label>Author name contains: </label><input class="form-control" type="text" style="width:200px" id="authorNameSearchPost" name="authorNameSearchPost" /><label>-AND-</label><br />
        <label>From </label>
        <input type="date" id="fromDateSearchPost" name="fromDateSearchPost" />
        <label> to </label>
        <input type="date" id="toDateSearchPost" name="toDateSearchPost" />
        <label> (not included)</label><br />
        <button class="btn btn-success" type="button" onclick="advancedSearchPost()">Search</button>
        <button class="btn btn-danger" type="button" onclick="clearSearch()">Clear</button>
    </div>    
</div>
<div id="postsList">
    @Html.Partial("PostsListPartialView")
</div>
